@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(30, 54%, 90%);
    padding: 100px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 800px;
    border-radius: 20px;
    padding: 30px;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.wrapper .image-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper .image-card img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

h1{
    font-family: "Young Serif", serif;
    font-size: 2.7rem;
    font-weight: 500;
}

.desc{
    margin: 20px 0;
    font-size: 1.1rem;
    color: hsl(24, 5%, 18%);

}

.pre-time{
    background: hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 15px;
    margin: 20px 0;
}

.preparation-wrapper{
    margin: 0 20px;
}

.preparation{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.prep-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 25px;
}

span.head{
    font-size: 1rem;
    font-weight: 700;
    color: hsl(32, 10%, 34%);
}

article{
    margin: 0 20px;
}

section{
    margin: 20px 0;
}

section .header{
    font-family: "Young Serif", serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: hsl(14, 45%, 36%);
}