@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(30, 54%, 90%);
    padding: 100px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    width: 800px;
    border-radius: 20px;
    padding: 30px;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.wrapper .image-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.wrapper .image-card img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

h1{
    font-family: "Young Serif", serif;
    font-size: 2.7rem;
    font-weight: 500;
    color: hsl(15, 4%, 18%);
}

.title-desc{
    margin: 20px 0;
    font-size: 1.1rem;
    color: hsl(30, 10%, 34%);

}

.pre-time{
    background: hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 15px;
    margin: 20px 0 5px 0;
}

.preparation-wrapper{
    margin: 0 20px;
}

.preparation{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(332, 51%, 32%);
}

.prep-list{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 0 25px;
    color: hsl(0, 3%, 34%);
}

span.head{
    font-size: 1rem;
    font-weight: 700;
    color: hsl(32, 10%, 34%);
}

article{
    margin: 0 20px;
}

section{
    margin: 20px 0;
}

section .header{
    font-family: "Young Serif", serif;
    font-size: 1.7rem;
    font-weight: 500;
    color: hsl(14, 45%, 36%);
    padding: 5px 0 20px 0;
}

ul.down,
ol.down {
    padding: 0 0 35px 20px;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    
}

ol li{
    color: hsl(30, 10%, 34%);
}

::marker{
}

.nutrition-desc{
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: hsl(30, 10%, 34%);
}

.nutrition-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    list-style-type: none;
    color: hsl(30, 10%, 34%);
}

span.main-val{
    width: 40%;
}

.first-val{
    display: flex;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: 0 0 15px 30px;
    gap: 55px;
}

.first-val:last-child{
    border-bottom: none;
}

.nd-val{
    font-size: 1rem;
    font-weight: 900;
    color: hsla(14, 45%, 36%, 0.911);
}